<h1>If-else example</h1>

<!-- negated variable to achieve "if not" -->
<!-- <div [ngIf]="!show" [ngIfElse]="isNewUser" >
    Please login, friend.
  </div> -->

<!-- logic && operator -->
<!-- <div *ngIf="show && !isNewUser">
    Welcome back, friend.
  </div> -->

<!-- logic OR operator -->
<!-- <div *ngIf="show || isNewUser">
    Welcome!
  </div> -->

<!-- <ng-template #isNewUser>
   <div>
    Please, Login my Friend!!
   </div>
  </ng-template> -->


<ng-container *ngIf="show; then loggedIn; else loggedOut">
</ng-container>

<ng-template #loggedIn>
    <div>
        Welcome back, friend.
    </div>
</ng-template>
<ng-template #loggedOut>
    <div>
        Please friend, login.
    </div>
</ng-template>
